.blog-page-widget {
    padding-top: 30px;
}

.blog-page-widget .item {
    padding-bottom: 50px;
}

.blog-post-widget {
    padding-left: 15%;
    padding-right: 15%;
}

.blog-post-widget h1,
.blog-post-widget p
{
    padding-left: 0%;
    padding-right: 0%;
}

.blog-page-widget .border-widget .west {
    padding-top: 50px;
    width: 10em;
}

.blog-post-chooser-widget .item {
    padding-bottom: 0px;
}